.introContainer {
  display: flex;
  flex-direction: row;
  width: 85%;
  /* gap: 40px; */
  /* background: red; */
  margin: auto auto;
}
.title {
  position: absolute;
  width: 25%;
  font-size: 54px;
  color: white;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  font-family: Cormorant, serif;
  font-weight: 400;
  animation: title 0.8s forwards;
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 80px;
  background: white;
  width: 100%;
  height: 1px;
  transition: width 0.3s ease-in-out;
}
.imgContainer {
  /* background: rebeccapurple; */
  width: 60%;
}
.img {
  border-radius: var(--border-radius-20);
}

.img:last-child {
  position: absolute;
  top: 750px;
  left: 410px;
}
.intro {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: start;
  justify-content: center;
  gap: 40px;
}
.intro h3 {
  width: 70%;
  color: var(--cta-color);
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.intro p {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 40px;
  font-size: 16px;
  line-height: var(--lh-16);
}
.buttonContainer {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: start;
}
.buttonContainer .buttonLink {
  font-size: 16px;
  letter-spacing: var(--letter-spacing);
  color: white;
  padding: 20px 50px;
  border: none;
  background: var(--cta-color);
  position: relative;
  z-index: 1;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.buttonContainer .buttonLink:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: white;
  border-radius: 5px;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.buttonContainer .buttonLink button {
  color: white;
}
.buttonContainer .buttonLink:hover button {
  color: var(--cta-color);
  transition: all 0.3s ease;
}

.buttonContainer .buttonLink:hover:after {
  left: 0;
  width: 100%;
}
.buttonContainer .buttonLink:active {
  top: 2px;
}
.buttonLink button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.separator {
  width: 20%;
  height: 1px;
  background: var(--cta-color);
  margin: 100px auto 40px auto;
}
.p {
  width: 50%;
  line-height: var(--lh-16);
  margin: 0 auto 80px auto;
}
/* .p span {
  font-weight: bold;
} */
/* .intro button {
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media (max-width: 768px) {
  .introContainer {
    flex-direction: column;
  }
  .title {
    width: 60%;
    top: 30%;
  }
  .imgContainer {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto auto;
  }
  .img:last-child {
    width: 400px;
    height: 400px;
    top: 900px;
    left: 50%;
    transform: translate(-50%);
  }
  .intro {
    width: 95%;
    margin-top: 340px;
    align-items: center;
    justify-content: center;
  }
  .intro h3 {
    width: 100%;
    text-align: center;
  }
  .intro p {
    width: 100%;
  }
  .pContainer {
    width: 100%;
  }
  .buttonContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .separator {
    width: 60%;
    margin: 50px auto;
  }
  .p {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .title {
    top: 240px;
    font-size: 2.5rem;
  }
  .img {
    max-width: 350px;
    height: 300px;
    /* height: auto; */
  }
  .img:last-child {
    top: 655px;
    max-width: 300px;
    max-height: 300px;
  }
  .intro {
    margin-top: 300px;
  }
}

/* KEY FRAMES ANIMATION */

@keyframes title {
  from {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
